
<img src="/minedminds.png">
<form action="/login" method="POST">
<input class="login" type="text" name="username" value="username"><br>
<input class="login" type="password" name="password" value="password"><br>
<input class="submit" type="submit" value="Submit...If you dare">
</form>
<p class="invalid">Hey are you trying to hack me, Or did you just mess up typing in your Username and or Password??</p>

