<img src="/minedminds.png">
<form action="/login" method="POST">
<input class="login" type="text" name="username" value="Username"> Username <br>
<input class="login" type="password" name="password" value="Password"> Password <br>
<input class="submit" type="submit" value="Submit...If you dare">
</form>



<%# If I change the type in line 3 to text it will make it so you see the password being typed in %>
