<form action= "/numbers" method="POST">
	List your 3 favorite numbers: 
	<input type = "text" name = "Favorite_Numbers1"><br><input type = "text" name = "Favorite_Numbers2"><br><input type = "text" name = "Favorite_Numbers3">
<input type="Submit">

	</form>
